<?xml version="1.0" encoding="utf-8"?>

<!-- In principle, each app should have unique package -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="rs.aleph.android.example12">

    <!-- Declares that the app needs a permission to access internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- Declares 2nd activity -->
        <activity
            android:name="rs.aleph.android.example12.activities.SecondActivity"
            android:label="@string/app_name">
        </activity>

        <!-- Declares 1st (main) activity. Action "MAIN" and category "LAUNCHER" properties
        makes it visible in the application launcher -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
